body {
	background-color: black;
	color: rgb(230, 230, 230);
	font-family: sans-serif;
	margin: 0;
	overflow: hidden;
	height: 100%;
}

#reactRoot {
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

#viewer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

canvas {
	position: absolute;
	left: 0%;
}

#pianoCanvas {
	z-index: 5;
}

#pianoOverlayCanvas {
	z-index: 10;
}

button,
select,
.button {
	background-color: rgb(80, 80, 80);
	border: 1px solid rgb(80, 80, 80);
	border-radius: 4px;
	color: rgb(230, 230, 230);
	font-size: 16px;
	padding: 8px;
	cursor: pointer;
	user-select: none;
}

button:hover,
select:hover,
.button:hover {
	background-color: rgb(100, 100, 100);
}

button:active,
select:active,
.button:active {
	background-color: rgb(60, 60, 60);
}

button:disabled,
select:disabled,
.button:disabled,
.button.disabled {
	background-color: rgb(60, 60, 60);
	color: rgb(150, 150, 150);
	cursor: default;
}

h1,
h2,
h3 {
	margin: 0px 0px 8px 0px;
}
