body {
	background-color: black;
	color: rgb(230, 230, 230);
	font-family: sans-serif;
	margin: 0;
	overflow: hidden;
	height: 100%;
}

dialog {
	background-color: rgb(40, 40, 40);
	border: 1px solid rgb(80, 80, 80);
	border-radius: 4px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	color: rgb(230, 230, 230);
}

dialog > * {
	margin: 8px;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.6);
}

#controlPanel {
	position: absolute;
	z-index: 100;
	top: 20px;
	left: 20px;
	background-color: rgb(40, 40, 40);
	border: 1px solid rgb(80, 80, 80);
	padding: 12px;
	border-radius: 8px;
	overflow: auto;
	height: 50%;
}

#controlPanel > * {
	margin-bottom: 16px;
}

#controlPanel > *:last-child {
	margin-bottom: 0;
}

#openButton {
	position: absolute;
	top: 32px;
	left: 32px;
	width: 40px;
	height: 40px;
	z-index: 100;
	cursor: pointer;
}

#closeButton {
	position: absolute;
	top: 12px;
	right: 12px;
}

section {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

h2, h3 {
	margin: 0;
	padding-bottom: 8px;
}

button, #exportStartButton {
	background-color: rgb(80, 80, 80);
	border: 1px solid rgb(80, 80, 80);
	border-radius: 4px;
	color: rgb(230, 230, 230);
	cursor: pointer;
	font-size: 16px;
	padding: 8px;
}

button:hover, #exportStartButton:hover {
	background-color: rgb(100, 100, 100);
}

button:active, #exportStartButton {
	background-color: rgb(60, 60, 60);
}

button:disabled, #exportStartButton[disabled=true] {
	background-color: rgb(60, 60, 60);
	color: rgb(150, 150, 150);
	cursor: default;
}

#exportStartButton {
	text-decoration: none;
}

select {
	background-color: rgb(80, 80, 80);
	border: 1px solid rgb(80, 80, 80);
	border-radius: 4px;
	color: rgb(230, 230, 230);
	font-size: 16px;
	padding: 8px;
	cursor: pointer;
}

select:hover {
	background-color: rgb(100, 100, 100);
}

select:active {
	background-color: rgb(60, 60, 60);
}

select:disabled {
	background-color: rgb(60, 60, 60);
	color: rgb(150, 150, 150);
	cursor: default;
}

span {
	display: inline-block;
	margin: 4px;
}

#importForm > input {
	display: none
}

#importForm > label {
	background-color: rgb(80, 80, 80);
	border: 1px solid rgb(80, 80, 80);
	border-radius: 4px;
	color: rgb(230, 230, 230);
	cursor: pointer;
	font-size: 16px;
	padding: 8px;
}

#importForm > label:hover {
	background-color: rgb(100, 100, 100);
}

#importForm > label:active {
	background-color: rgb(60, 60, 60);
}

#ndsImportButton {
	float: right;
}

#exportConfigContainer {
	min-width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#exportControls {
	overflow-y: scroll;
}

#exportMenuButtons {
	display: flex;
	justify-content: space-between;
}

#exportStartContainer {
	display: none;
	justify-content: center;
}

#exportProgress {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

progress {
	width: 100%;
	height: 20px;
	padding-bottom: 8px;
}

.playbackControls {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 4px;
}

.volumeBar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.volumeBar > * {
	margin-right: 8px;
	white-space: nowrap;
}

.volumeBar > *:last-child {
	margin-right: 0;
}

#speakerIcon {
	height: 40px;
	width: 40px;
	cursor: pointer;
}

.controlGroupGrid {
	display: grid;
	grid-template-columns: 1fr 2fr auto;
	align-items: center;
	grid-gap: 4px;
}

.controlEntry {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: right;
	gap: 4px;
}

input[type="number"] {
	background-color: rgb(80, 80, 80);
	border: 1px solid rgb(80, 80, 80);
	border-radius: 4px;
	color: rgb(230, 230, 230);
	font-size: 16px;
	padding: 8px;
	width: 80px;
}

input[type="range"] {
	cursor: pointer;
	width: 100%;
}

input[type="checkbox"] {
	cursor: pointer;
}

#viewer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

canvas {
	position: absolute;
	left: 0%;
}

#pianoCanvas {
	z-index: 5;
}

#pianoOverlayCanvas {
	z-index: 10;
}
